<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HMS - About</title>
    <link rel="stylesheet" href="../css/pages/about.css">
    <link rel="shortcut icon" href="../img/favicon.ico" />
</head>
<body class="page__grid">
<header class="header">
    <a class="header__logo" href="login.html" >
        <h1 class="header__logo-heading">HMS</h1>
        <h2 class="header__logo-subHeading">Help Management System</h2>
        <svg class="header__logo-art-group"
             viewBox="0 0 424 26">
            <path class="header__logo-art-line" d="M422.683,12.938l-421.683,0"/>
            <path class="header__logo-art-diamond" d="M211.842,0l24.75,12.938l-24.75,12.938l-24.75,-12.938l24.75,-12.938Z"/>
        </svg>
    </a>
    <ul class="header__nav">
        <li class="header__nav-item"><a href="dashboard.html">Dashboard</a></li>
        <li class="header__nav-item"><a href="about.html">About</a></li>
        <li class="header__nav-item"><a href="request.html">New Request</a></li>
    </ul>
    <div class="header-login-status">
        <h1 class="header-login-status__message">Welcome Kenneth!</h1>
        <a class="header-login-status__logout-button" href="login.html">Logout</a>
    </div>
</header>
<main class="about">
    <h1 class="about__heading">About Us</h1>
    <p class="about__text">Life can be complex. The purpose of this site is to provide an interface through which you can ask for help, monitor the status of the response, then respond with any follow-up steps<br><br>Let's make asking for help a little easier!</p>
</main>
<footer class="footer">
    <div class="footer__copyright">
        <p>© 2019 Help Management System. All rights reserved.</p>
    </div>
</footer>
</body>
</html>