<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HMS - Create Account</title>
    {%load static %}
    <link rel="stylesheet" href="{% static 'request/css/pages/create_account.css' %}">
    <link rel="shortcut icon" href="{% static 'request/img/favicon.ico' %}" />
</head>
<body>
<header class="header">
    {% include 'request/partials/_header__logo.html' %}
</header>
<form class="form" action="{% url 'create_account' %}" method="post">
    {% if error_message %}
        {% include 'request/partials/_error-message.html' %}
    {% endif %}
    {% csrf_token %}
    <section class="form__new-account-section" >
        <h1 class="form__new-account-title">Create an Account</h1>
        <div class="form__new-account-grid">
            <label class="form__new-account-label" for="groupID">Group ID</label>
            <input class="form__new-account-text-input" type="text" name="groupID" id="groupID">

            <label class="form__new-account-label" for="fullname">Full Name</label>
            <input class="form__new-account-text-input" type="text" name="fullname" id="fullname">

            <label class="form__new-account-label" for="email">Email Address</label>
            <input class="form__new-account-text-input" type="text" name="email" id="email">

            <label class="form__new-account-label" for="password">New Password</label>
            <input class="form__new-account-text-input" type="password" name="password" id="password">

            </div>
    </section>
    <div class="form__buttons-container">
        <button class="form__submit-button" type="submit">Submit</button>
        <a class="form__cancel-button" href="{% url 'login' %}">Cancel</a>
    </div>
</form>
{% include 'request/partials/_footer.html' %}
</body>
</html>