$color-one-dark: #171857;
$color-one-medium: #2b488c;
$color-one-light: #7da0ed;
$color-two-dark: #124763;
$color-two-medium: #1673A5;
$color-two-light: #9dd8f4;
$color-three-dark: #6f5495;
$color-three-medium: #d9c7ff;
$color-three-light: #ebe5ff;
$gray-dark: #2d2d2d;
$gray-medium: #858181;
$gray-light: #dddddd;