// font sizes
$font-size-xlarge: 48px;
$font-size-large: 36px;
$font-size-medium: 20px;
$font-size-small: 12px;
$font-size-xsmall: 8px;

// font families
$font-family-sanserif: "Trebuchet MS";
$font-family-serif: "Times New Roman";